/* BIG TITLE */

/* .big-title::after {
    content: '';
    background: rgba(3, 170, 111, .25);
    width: 100%;
    position: absolute;
    height: 768px;
    top: 66px;
    left: 0;

} */

#desktop {
    display: block;
}

#mobile {
    display: none;
}

.big-title h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    letter-spacing: 3px;
    transform: translate(-250%, -50%);
    color: #fff;
    font-weight: 700;
    font-size: 45px;
    z-index: 999;
    padding: 10px 20px;
    border: 4px solid #fff;
}

.big-title img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 600%);
    color: #fff;
    height: 45px;
    width: 45px;
    z-index: 999;
    filter: invert(100%);
    animation-name: mouse-scroll;
    animation-duration: 2s; 
    animation-iteration-count: infinite;
}

@keyframes mouse-scroll {
    0% {
        transform: translate(-50%, 600%);
    }
    50% {
        transform: translate(-50%, 660%);
    }
    100% {
        transform: translate(-50%, 600%);
    }
}







.services {
    background: #03aa6f;
    display: table;
    margin: 20px auto;
    padding: 10px 5px;
    border-radius: 25px;

}

.services li {
    list-style: none;
    display: inline;
    margin: 0 20px;
    
}

.services li a,
.services li i {
    color: #fff;

}

.services li a {
    font-size: 13px;
}

.services li a:hover {
    text-decoration: none;
}

.services li i {
    font-size: 22px;
}

.services li a span {
    display: inline-block;
    transform: translateY(-4px);
    margin-left: 5px;
}


/* SEARCH ENGINE */

#search-engine {
    display: table;
    margin: 0 auto;
    max-width: 570px;
    text-align: center;
    background: #03aa6f;
    padding: 30px;
    border-radius: 7px;
}

#search-engine input {
    border: none;
    background: #eaeaea;
    padding: 5px 10px;
    color: #03aa6f;
}

#search-engine label {
    color: #fff;
    margin: 5px 0px;
    font-weight: 700;
}

#search-engine input:focus {
    outline: none;
}

#search-engine input::placeholder {
    color: #03aa6f;
}

#search-engine #origin {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; 
    width: 255px;
}

#search-engine #origin::placeholder,
#search-engine #destination::placeholder {
    color: #03aa6f;
}

#search-engine #destination {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; 
    width: 255px;
}

#search-engine #go-date {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; 
    width: 255px;
}

#search-engine #return-date {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; 
    width: 255px;
}


#search-engine input::placeholder {
    color: #fff;
}

#search-engine button {
    border: none;
    background: #f7f7f7;
    color: #03aa6f;
    padding: 5px 10px;
    margin: 10px 0 0 0;
    width: 100%;
    border-radius: 5px;
    font-weight: 700;
    border: 2px solid #03aa6f;
    transition: all .25s ease-in-out;
}

#search-engine button:hover {
    background: #86daf1;
}

.destinations {
    margin: 50px auto;
}

.destinations header h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #03aa6f;
    letter-spacing: 3px;
}

.destinations header h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #aeaeae;
    letter-spacing: 3px;
}

.destinations .title-header {
    margin: 20px 0;
}

.destinations .destination-container {
    display: table;
    margin: 15px auto 30px auto;
    padding: 15px 20px;
    background: #eaeaea;
    border-radius: 7px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    width: 200px;
    height: 250px!important;
}


.destinations .destination-container header img {
    border-radius: 100%;
    width: 130px;
    display: table;
    margin: 0 auto;
    height: 130px;
}

.destinations .destination-container h4 {
    text-align: center;
    color: #03aa6f;
    text-transform: uppercase;
    font-size: 16px;
    margin: 5px 0;
}

.destinations .destination-container h5 {
    text-align: center;
    color: #888888;
    text-transform: uppercase;
    font-size: 13px;
    margin: 2px 0;
}

.destinations .destination-container p {
    text-align: center;
    margin: 5px 0 0 0;
    color: #03aa6f;
}

.destinations .destination-container p span {
    color: #888888;
}

.destinations #destination-container {
    display: table;
    margin: 6px auto;
    border-radius: 2px;
    border: 2px solid rgba(234, 234, 234, .6);
    transition: all .3s ease-in-out;
    padding: 5px;
    width: 180px;
    height: 260px;
}

.destinations #destination-container:hover {
    border: 2px solid rgba(3, 170, 111, 0.55);

}



.destinations #destination-container header img {
    width: 170px;
    display: table;
    margin: 0 auto;
    height: 170px;
}

.destinations #destination-container h4 {
    text-align: center;
    color: #03aa6f;
    text-transform: uppercase;
    font-size: 16px;
    margin: 5px 0;
}

.destinations #destination-container h5 {
    text-align: center;
    color: #888888;
    text-transform: uppercase;
    font-size: 13px;
    margin: 2px 0;
}

.destinations #destination-container p {
    text-align: center;
    margin: 5px 0 0 0;
    color: #03aa6f;
}

.destinations #destination-container p span {
    color: #888888;
}


.destination-board .destination-container {
    display: flex;
    flex-direction: row;
}

.destinations #see-more {
    background: #03aa6f;
    display: table;
    margin: 30px auto 10px auto;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
}


@media screen and (max-width: 1774px) {
    .big-title h1 {
        transform: translate(-250%, -70%);
        font-size: 42px;

    }
    


    .big-title img {
        transform: translate(-50%, 510%);
        height: 43px;
        width: 43px;
    }



    @keyframes mouse-scroll {
        0% {
            transform: translate(-50%, 510%);
        }
        50% {
            transform: translate(-50%, 570%);
        }
        100% {
            transform: translate(-50%, 510%);
        }
    }
    
    
    

}


@media screen and (max-width: 1686px) {

    .big-title h1 {
        transform: translate(-250%, -100%);
        font-size: 40px;

    }


    .big-title img {
        transform: translate(-50%, 450%);
        height: 42px;
        width: 42px;
    }

    @keyframes mouse-scroll {
        0% {
            transform: translate(-50%, 450%);
        }
        50% {
            transform: translate(-50%, 510%);
        }
        100% {
            transform: translate(-50%, 450%);
        }
    }
    
    
    

}


@media screen and (max-width: 1630px) {
    .big-title h1 {
        transform: translate(-250%, -150%);
        font-size: 37px;

    }
    .big-title img {
        transform: translate(-50%, 400%);
        height: 41px;
        width: 41px;
    }

    @keyframes mouse-scroll {
        0% {
            transform: translate(-50%, 400%);
        }
        50% {
            transform: translate(-50%, 460%);
        }
        100% {
            transform: translate(-50%, 400%);
        }
    }
    
    
    

}

@media screen and (max-width: 1550px) {
    .big-title h1 {
        transform: translate(-250%, -200%);
        font-size: 35px;

    }

    .big-title img {
        transform: translate(-50%, 350%);
        height: 39px;
        width: 40px;
    }

    @keyframes mouse-scroll {
        0% {
            transform: translate(-50%, 410%);
        }
        50% {
            transform: translate(-50%, 350%);
        }
        100% {
            transform: translate(-50%, 410%);
        }
    }
    
    
    

}

@media screen and (max-width: 1500px) {

    .big-title h1 {
        font-size: 38px;
        padding: 10px 20px;
    }

    .big-title img {
        transform: translate(-50%, 350%);
        height: 39px;
        width: 39px;
    }

    @keyframes mouse-scroll {
        0% {
            transform: translate(-50%, 350%);
        }
        50% {
            transform: translate(-50%, 310%);
        }
        100% {
            transform: translate(-50%, 350%);
        }
    }
    
    
    

}


@media screen and (max-width: 1450px) {
    #desktop {
        display: none;
    }

    #mobile {
        position: relative;
        display: block;
        color: #03aa6f;
    }

    #mobile h1 {
        color: #03aa6f;
    }



}